* {
  margin: 0;
  padding: 0;
}

//Header
.video {
  top: 0;
  left: 0;
}

.column {
  flex: 50%;
}

.row-header {
  width: 100vw;
  height: 85vh;
  background-color: #F9F9F3;
}
.container {
  margin: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 42px;
  padding: 1em;
}

.header {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  height: 80%;
}

.player-wrapper {
  width: auto;
  height: auto;
}
.react-player {
  position: relative;
}

.react-player > div {
  position: absolute;
}

.waves-japanese {
  position: absolute;
  color: white;
}

//Navigation
nav {
  display: block;
  position: fixed;
  height: 3em;
}

.social-links {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  padding: 2em;
}

.social-links a {
  margin: 1em;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  text-decoration: none;
  color: black;
}

.menuButton {
  display: none;
}

/* About */
.about {
  width: 100vw;
  height: 70vh;
}
.about-title {
  padding: 1em;
}


@media only screen and (max-width: 600px) {
  .social-links {
    display: none;
    font-size: 0.7em;
  }

  .row {
    display: grid;
  }

  .waves-japanese {
    text-align: center;
    margin: 0 auto;
    position: absolute;
  }

  .menuButton {
    border: none;
    display: block;
    position: static;
    font-weight: bolder;
    height: 4em;
    margin: auto;
    font-size: 0.9em;
    padding: 2em;
  }


}
